* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5ba7e;
}

.main {
  padding: 1.75rem 1rem;
}

.card {
  background-color: #fff;
  border-radius: 0.625rem;
}

.card-image {
  border-radius: 8px 8px 0 0;
}

@media screen and (width >=768px) {
  .card {
    position: relative;
    width: 600px;
    height: 450px;
  }

  .card-image {
    border-radius: 8px 0 0 8px;
    width: 300px;
    height: 450px;
  }
}

.card-info {
  padding: 1.5rem;
}

@media screen and (width >=768px) {
  .card-info {
    position: absolute;
    top: 0;
    left: 300px;
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
  }
}

.subtitle {
  margin-block: 0;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  color: #6c7289;
  letter-spacing: 5px;
  font-weight: 600;
}

.title {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: #1c232b;
  font-weight: 700;
  margin-block: 0;
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: #6c7289;
  font-size: 0.875rem;
  line-height: 1.4375rem;
}

.price {
  display: inline-block;
  position: relative;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: #3d8168;
  margin-bottom: 20px;
}

@media screen and (width >= 768px) {
  .price {
    margin-bottom: 30px;
  }
}

.price::after {
  position: absolute;
  top: 0.7rem;
  left: 156px;
  content: attr(data-discount);
  font-family: 'Montserrat', sans-serif;
  color: #6c7289;
  font-size: 0.8125rem;
  text-decoration: line-through;
}

.button {
  position: relative;
  display: block;
  background-color: #3d8168;
  color: #fff;
  padding-block: 0.9375rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}

@media (hover: hover) {
  .button:hover {
    background-color: #1a4032;
  }
}

.icon {
  position: absolute;
  left: 82px;
}

@media screen and (width >=768px) {
  .icon {
    left: 63px;
  }
}
